{% extends 'general/layout.html' %}
{% block page_content %}
<section>
    <h1>Contact us</h1>
    <address>
      <p>Aura Melia Berdugo Naranjo</p>
      <p>cel: +57 123456789</p>
      <p>email: amnaranjo27@gmail.com</p>
    </address>
    <br/>
  </section>
  <section>
    <h2>google maps Location</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5163.070001329921!2d-76.5967027651291!3d2.4509809308149197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1699308507400!5m2!1ses!2sco" 
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <br/>
  <section>

    {% endblock %}