{% extends 'general/layout.html' %}

{% block page_content %}

<h2>Study with us</h2>
{% for c in course %}
    <article id="c.pk">
      <h2>{{ c.title }}</h2>
      <p>publication date: {{ c.created_at }}</p>
      <div>
        {{c.content|truncatechars:100}}...
      </div>
      <p><a href="{% url 'courses:courses_detail' c.pk %}">See more</a></p>
    </article>

    {% endfor %}

<h2>Breaking news</h2>
{% for p in post %}
    <article id="post.pk">
      <h2>{{ p.title }}</h2>
      <p>publication date: {{ p.created_at }}</p>
      <div>
        {{p.content|truncatechars:100}}...
      </div>
      <p><a href="{% url 'blog:blog_detail' p.pk %}">See more</a></p>
    </article>

    {% endfor %}

    {% endblock %}
